<span style="font-weight: bold; font-size:30px; color:#2196F3">08-1 자료형 다루기</span>

<span style="font-weight: bold; font-size:20px; color:#2196F3">자료형 변환하기</span><br>
자료형 변환은 데이터 분석 과정에서 반드시 알아야 하는 요소 중 하나이다. 예를 들어 카테고리는 문자열로 변환해야 데이터 분석을 더 수월하게 할 수 있기 때문에 자주 변환하는 자료형이다. 또 다른 예는 전화번호이다. 전화번호는 보통 숫자로 저장한다. 하지만 전화번호로 평균을 구하거나 더하는 등의 계산은 거의 하지 않는다. 오히려 문자열처럼 다루는 경우가 더 많다. 다음 실습을 통해 여러 가지 자료형을 문자열로 변환하는 방법에 대해 알아보겠다.

### 자료형을 자유자재로 변환하기 - astype 메서드
#### 이번에 사용할 데이터 집합은 seaborn 라이브러리의 tips 데이터 집합이다.

In [19]:
import pandas as pd
import seaborn as sns

tips = sns.load_dataset("tips")

#### 여러 가지 자료형을 문자열로 변환하기
자료형을 변환하려면 astype 메서드를 사용하면 된다. 다음은 astype 메서드를 사용해 sex 열의 데이터를 문자열로 변환하여 sex_str이라는 새로운 열에 저장한 것이다.

In [4]:
tips['sex_str'] = tips['sex'].astype(str)

#### 문자열로 제대로 변환되었는지 확인해보자. 자료형이 문자열인 sex_str 열이 새로 추가되었음을 알 수 있다. (판다스에서 문자열은 object 라고 표시)

In [6]:
print(tips.dtypes)

total_bill     float64
tip            float64
sex           category
smoker        category
day           category
time          category
size             int64
sex_str         object
dtype: object

#### 자료형이 변환된 데이터 다시 원래대로 만들기
자료형이 변환된 데이터를 다시 원래대로 만들 수 있을까? 다음은 total_bill 열의 자료형을 문자열로 변환한 것이다.

In [7]:
tips['total_bill'] = tips['total_bill'].astype(str)
print(tips.dtypes)

total_bill      object
tip            float64
sex           category
smoker        category
day           category
time          category
size             int64
sex_str         object
dtype: object

#### 과정 4에서 문자열로 변환한 total_bill 열을 다시 실수로 변환했다.

In [8]:
tips['total_bill'] = tips['total_bill'].astype(float)
print(tips.dtypes)

total_bill     float64
tip            float64
sex           category
smoker        category
day           category
time          category
size             int64
sex_str         object
dtype: object

<span style="font-weight: bold; font-size:20px; color:#2196F3">잘못 입력한 데이터 처리하기</span><br>
이번에는 잘못 입력한 데이터를 변환하는 방법에 대해 알아보겠다. 만약 정수가 있어야 하는 열에 문자열이 입력되어 있으면 어떻게 해야 할까? 이런 문제를 해결하는 방법과 자료형을 변환하는 to_numeric 메서드도 함께 알아보겠다.

### 잘못 입력한 문자열 처리하기 - to_numeric 메서드
#### 다음은 total_bill 열의 1, 3, 5, 7행의 데이터를 'missing'으로 바꿔 변수 tips_sub_miss에 저장한 것이다.

In [9]:
tips_sub_miss = tips.head(10)
tips_sub_miss.loc[[1, 3, 5, 7], 'total_bill'] = 'missing'
print(tips_sub_miss)

  total_bill   tip     sex smoker  day    time  size sex_str
0      16.99  1.01  Female     No  Sun  Dinner     2  Female
1    missing  1.66    Male     No  Sun  Dinner     3    Male
2      21.01  3.50    Male     No  Sun  Dinner     3    Male
3    missing  3.31    Male     No  Sun  Dinner     2    Male
4      24.59  3.61  Female     No  Sun  Dinner     4  Female
5    missing  4.71    Male     No  Sun  Dinner     4    Male
6       8.77  2.00    Male     No  Sun  Dinner     2    Male
7    missing  3.12    Male     No  Sun  Dinner     4    Male
8      15.04  1.96    Male     No  Sun  Dinner     2    Male
9      14.78  3.23    Male     No  Sun  Dinner     2    Male

/tmp/ipykernel_1595/638463016.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tips_sub_miss.loc[[1, 3, 5, 7], 'total_bill'] = 'missing'

#### 데이터프레임의 자료형을 확인해 보면 total_bill 열이 실수가 아니라 문자열임을 알 수 있다. 'missing'이라는 문자열 때문에 이런 문제가 발생한 것이다.

In [10]:
print(tips_sub_miss.dtypes)

total_bill      object
tip            float64
sex           category
smoker        category
day           category
time          category
size             int64
sex_str         object
dtype: object

#### astype 메서드를 사용하면 이 문제를 해결할 수 있을까? astype 메서드를 사용해 total_bill 열의 데이터를 실수로 변환하려 하면 오류가 발생한다. 판다스는 'missing'이라는 문자열을 실수로 변환하는 방법을 모르기 때문이다.

In [11]:
tips_sub_miss['total_bill'].astype(float)

ValueError: could not convert string to float: 'missing'

#### 그러면 다른 방법을 사용해야 한다. 이번에는 to_numeric 메서드를 사용해 보겠다. 그런데 to_numeric 메서드를 사용해도 비슷한 오류가 발생한다.

In [12]:
pd.to_numeric(tips_sub_miss['total_bill'])

ValueError: Unable to parse string "missing" at position 1

#### 사실 to_numeric 메서드를 사용해도 문자열을 실수로 변환할 수 없다. 하지만 to_numeric 메서드는 errors 인자에 raise, coerce, innore를 지정하여 오류를 어느 정도 제어 할 수 있다. 예를 들어 errors 인자를 raise로 설정하면 숫자로 변환할 수 없는 값이 있을 때만 오류가 발생한다. 이런 오류는 분석가가 의도한 오류이므로 오류가 발생한 지점을 정확히 알 수 있어 유용한 오류이다. errors 인자에 설정할 수 있는 값은 다음과 같다. (errors인자의 기본 설정값은 raise이다.)
erros 인자에 설정할 수 있는 값
- raise: 숫자로 변환할 수 없는 값이 있으면 오류 발생
- coerce: 숫자로 변환할 수 없는 값을 누락값으로 지정
- ignore: 아무 작업도 하지 않음

#### error 인자를 ignore로 설정하면 오류가 발생하지 않지만 자료형도 변하지 않는다. 말 그대로 오류를 무시하는 것이다. 여전히 total_bill은 문자열이다.

In [13]:
tips_sub_miss['total_bill'] = pd.to_numeric(tips_sub_miss['total_bill'],
                                           errors='ignore')
print(tips_sub_miss.dtypes)

total_bill      object
tip            float64
sex           category
smoker        category
day           category
time          category
size             int64
sex_str         object
dtype: object

/tmp/ipykernel_1595/3714026420.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tips_sub_miss['total_bill'] = pd.to_numeric(tips_sub_miss['total_bill'],

#### 이번에는 errors 인자를 coerce로 설정해 보겠다. 그러면 'missing'이 누락값(NaN)으로 바뀐다. dtypes로 데이터프레임의 자료형을 확인해보자. total_bill의 자료형이 실수로 바뀌었다. (coerce는 억압하다. 강요하다라는 의미이다.)

In [14]:
tips_sub_miss['total_bill'] = pd.to_numeric(tips_sub_miss['total_bill'],
                                           errors='coerce')
print(tips_sub_miss.dtypes)

total_bill     float64
tip            float64
sex           category
smoker        category
day           category
time          category
size             int64
sex_str         object
dtype: object

/tmp/ipykernel_1595/3889547292.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tips_sub_miss['total_bill'] = pd.to_numeric(tips_sub_miss['total_bill'],

#### to_numeric 메서드에는 errors 인자 외에도 downcast 인자가 있다. downcast는 정수, 실수와 같은 자료형을 더 작은 형태로 만들 때 사용한다. 이를 다운 캐스트라고 한다. downcast 인자에는 integer, signed, unsigned, float 등의 값을 사용할 수 있다. 다음은 total_bill 열을 다운캐스트한 것이다. 그러면 total_bill 열의 자료형이 float64에서 float32로 바뀐 것을 알 수 있다. float64는 float32보다 더 많은 범위의 실수를 표현할 수 있지만 메모리 공간을 2배나 차지한다. 만약 저장하는 실수의 예상 범위가 크지 않다면 다운캐스트하는 것이 좋다.

In [18]:
tips_sub_miss['total_bill'] = pd.to_numeric(tips_sub_miss['total_bill'],
                                           errors='coerce', downcast='float')

print(tips_sub_miss.dtypes)

total_bill     float32
tip            float64
sex           category
smoker        category
day           category
time          category
size             int64
sex_str         object
dtype: object

/tmp/ipykernel_1595/2874977337.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tips_sub_miss['total_bill'] = pd.to_numeric(tips_sub_miss['total_bill'],

<span style="font-weight: bold; font-size:20px; color:Gray">출처 : Do it! 데이터 분석을 위한 판다스</span>